.loginform {margin-top: 130px;}
.alert p{margin: 0 !important;}
input{ margin: 2px !important;}
.fieldset {
    margin-top: 0 !important;
    padding: 1.5%;
}

th.sorting_asc{background: url("../img/order-asc.png") right center no-repeat;}
th.sorting_desc{background: url("../img/order-desc.png") right center no-repeat;}
a.table-action{width: 16px;height: 16px;display: inline-block;background-position: center center;background-repeat: no-repeat;
margin-right: 3px;}
.table-edit{background: url("../img/edit.png");}
.table-pass{background: url("../img/pass.png");}
.table-delete{background: url("../img/trash.png");}


.noleft{
padding-left: 0px;
}
.noright{
    padding-right: 0px;
}
.no-js .top-bar {
    display: none;
}

@media screen and (min-width: 40em) {
    .no-js .top-bar {
        display: block;
    }

    .no-js .title-bar {
        display: none;
    }
}






